body {
  margin: 0px;
  background-color:rgb(61, 60, 60);
  color:white;
}

main {
  max-width: 1350px;
  margin: auto;
}

header {
  background-color: rgba(32, 195, 195, 0.592);
  padding: 10px;
  border-bottom-left-radius: 1.0em;
  border-bottom-right-radius: 1.0em;
  border-bottom: 5px solid white;
  margin-bottom: 35px;
}

.header-container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(32, 195, 195, 0.592);
  padding: 10px;
  border-top-left-radius: 1.0em;
  border-top-right-radius: 1.0em;
  border-top: 5px solid white;
}

.footer-container {
  width: 1350px;
  max-width: 1350px;
  margin: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}